01-VMs-SSH-RDP/linuxVM-screenshots/
01-VMs-SSH-RDP/windowsVM-screenshots/
02-Azure-Web-App/screenshots/
03-ACR-pull-push-containerinstance/screenshots/
05-VNets-hubspoke-architecture/screenshots-A/
05-VNets-hubspoke-architecture/screenshots-B/
